@model GLifeApplication.ViewModels.SportDatabaseView



@*test only 
    this must be remove!!!!!!!!!!!!*@


<table class="table table-DB">
    <tr>
        <th>食物</th>
        <th>熱量</th>
    </tr>

@foreach (var item in Model.SportDatabaseList.Take(15)) {
    
    <tr class="box">
        <td class="text-left">
            <a href="#" class="active sportname" id="sportname" value="@item.Sport_Id">@item.SportType</a>
        </td>
        <td>@item.Calories</td>
    </tr>
}
</table>
