
<script>
    $(document).ready(function () {
        $('.venobox').venobox();
    });
</script>

<style>
    .container-custom{
        padding-top: 50px;
    }
</style>

<style>
    footer {
        background-color: #f2f2f2;
        padding: 25px;
    }
</style>

<div class="container-fluid container-custom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading">挑戰一週 RAW FOOD DIET 生機素飲食</div>
                    <div class="panel-body">
                        <a class="venobox" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/embed/DRfWIxv4Q_g">
                            <img src="http://img.youtube.com/vi/DRfWIxv4Q_g/0.jpg" class="img-responsive" style="width:100%" alt="Image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading">每天喝水2000cc才够? 口渴才喝水就来不及?</div>
                    <div class="panel-body">
                        <a class="venobox" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/embed/AkJmq9GIPqA">
                            <img src="http://img.youtube.com/vi/AkJmq9GIPqA/0.jpg" class="img-responsive" style="width:100%" alt="Image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading">減肥的困擾 - LOOK！那些女孩遇到的事！</div>
                    <div class="panel-body">
                        <a class="venobox" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/embed/JnIHOCV-ITI">
                            <img src="http://img.youtube.com/vi/JnIHOCV-ITI/0.jpg" class="img-responsive" style="width:100%" alt="Image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div><br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading">三日減肥餐。3天真的瘦了2公斤!!</div>
                    <div class="panel-body">
                        <a class="venobox" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/embed/xhxHngMEdDM">
                            <img src="http://img.youtube.com/vi/xhxHngMEdDM/0.jpg" class="img-responsive" style="width:100%" alt="Image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading">五種減脂美食 - 吃得健康又不犧牲美味！</div>
                    <div class="panel-body">
                        <a class="venobox" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/embed/wlvDjshlZgA">
                            <img src="http://img.youtube.com/vi/wlvDjshlZgA/0.jpg" class="img-responsive" style="width:100%" alt="Image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading">注意！清晨 『最』 不該吃三種食物！健康飲食</div>
                    <div class="panel-body">
                        <a class="venobox" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/embed/46-3dRDDBnQ">
                            <img src="http://img.youtube.com/vi/46-3dRDDBnQ/0.jpg" class="img-responsive" style="width:100%" alt="Image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading">每天都只吃一餐或不吃 避免澱粉就不怕胖?</div>
                    <div class="panel-body">
                        <a class="venobox" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/embed/bUCeseU4_Yo">
                            <img src="http://img.youtube.com/vi/bUCeseU4_Yo/0.jpg" class="img-responsive" style="width:100%" alt="Image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading">超燃脂tabata 8分鐘間歇訓練</div>
                    <div class="panel-body">
                        <a class="venobox" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/embed/B4MsfoosrHU">
                            <img src="http://img.youtube.com/vi/B4MsfoosrHU/0.jpg" class="img-responsive" style="width:100%" alt="Image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading">希望告訴你的健康秘訣！Raw Food 生機素食</div>
                    <div class="panel-body">
                        <a class="venobox" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/embed/Ci3tnhNknJ4">
                            <img src="http://img.youtube.com/vi/Ci3tnhNknJ4/0.jpg" class="img-responsive" style="width:100%" alt="Image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br>

</div>

